@use "sass:map";

@import './variables.scss';

body {
  color: #333;
}

$--color-primary: $primary;
$--colors: () !default;
$--colors: map.deep-merge(
  (
    'white': #ffffff,
    'black': #000000,
    'primary': (
      'base': $primary,
    ),
    'success': (
      'base': #67c23a,
    ),
    'warning': (
      'base': #e6a23c,
    ),
    'danger': (
      'base': #f56c6c,
    ),
    'error': (
      'base': #f56c6c,
    ),
    'info': (
      'base': #909399,
    ),
  ),
  $--colors
);
$--font-path: 'element-plus/lib/theme-chalk/fonts';
@import 'element-plus/packages/theme-chalk/src/index';

.fade-enter-active,
.fade-leave-active {
  transition: transform 300ms, opacity 300ms;
}

.fade-enter-from {
  transform: translate(-10px, 0);
  opacity: 0;
}

.fade-leave-to {
  transform: translate(10px, 0);
  opacity: 0;
}
