body,
html {
  background-color: #fcfcfc;
  padding: 0;
  margin: 0;
}

// 项目布局css变量
:root {
  --app-side-width: 200px;
  --app-side-collapsed-width: 64px;
  --app-header-height: 50px;
  --app-animation-duration: 200ms;
  --app-bg-base: #f2f2f2;
  --app-bg-header: #fff;
  --app-bg-main: #fff;
  --app-zindex-top: 100;
  --app-zindex-side-bar: 110;
  --app-border-color: #ededed;

  //--app-bg-base: #555;
  //--app-bg-header: #333;
  //--app-bg-main: #333;
}

body {
  background-color: var(--app-bg-base);
}
