$primary: mix(#0d8a72, #fff, 90);

$white: #fff;
$black: #000;
$transparent: transparent;

// Text color
$text-color1: #303133;
$text-color2: #606266;
$text-color3: #909399;
$text-color4: #c0c4cc;

// Border color
$border-color1: #dcdfe6;
$border-color2: #e4e7ed;
$border-color3: #ebeef5;
$border-color4: #f2f6fc;

// Layout
$header-height: 46px;
$menu-width: 200px;
$tabs-height: 38px;
